<header class="header header-page">
  <div class="header-fixed">
    <nav class="navbar navbar-expand-lg header-nav scroll-sticky">
      <div class="container header-border">
        <div class="navbar-header">
          <a id="mobile_btn" href="javascript:void(0);">
            <span class="bar-icon">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </a>
          <a href="index.html" class="navbar-brand logo">
            <img src="assets/img/logo.svg" class="img-fluid" alt="Logo">
          </a>
        </div>
        <div class="main-menu-wrapper">
          <div class="menu-header">
            <a href="index.html" class="menu-logo">
              <img src="assets/img/logo.svg" class="img-fluid" alt="Logo">
            </a>
            <a id="menu_close" class="menu-close" href="javascript:void(0);">
              <i class="fas fa-times"></i>
            </a>
          </div>
          <ul class="main-nav">
            <li class="has-submenu">
              <a routerLink="/acceuil/dashboard">
                <i class="fas fa-tachometer-alt me-2"></i> Dashboard
                <i class="fas fa-chevron-down ms-1"></i>
              </a>
            </li>
            <li class="has-submenu">
              <a routerLink="/acceuil/classe">
                <i class="fas fa-chalkboard me-2"></i> Classes
                <i class="fas fa-chevron-down ms-1"></i>
              </a>
            </li>
            <li class="has-submenu">
              <a routerLink="/acceuil/eleves">
                <i class="fas fa-user-graduate me-2"></i> Elèves
                <i class="fas fa-chevron-down ms-1"></i>
              </a>
            </li>
            <li class="has-submenu">
              <a routerLink="/acceuil/enseignants">
                <i class="fas fa-chalkboard-teacher me-2"></i> Enseignants
                <i class="fas fa-chevron-down ms-1"></i>
              </a>
            </li>
            <li class="has-submenu">
              <a routerLink="/acceuil/matieres">
                <i class="fas fa-book me-2"></i> Matières
                <i class="fas fa-chevron-down ms-1"></i>
              </a>
            </li>
            <li class="has-submenu">
              <a routerLink="/acceuil/emploie">
                <i class="fas fa-calendar-alt me-2"></i> Emploies
                <i class="fas fa-chevron-down ms-1"></i>
              </a>
            </li>
            <li class="login-link">
              <a routerLink="/login">Login / Signup</a>
            </li>
          </ul>
        </div>
        <ul class="nav header-navbar-rht">
          <li class="nav-item">
            <a href="course-message.html"><img src="assets/img/icon/messages.svg" alt="img"></a>
          </li>
          <li class="nav-item cart-nav">
            <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">
              <img src="assets/img/icon/cart.svg" alt="img">
            </a>
            <div class="wishes-list dropdown-menu dropdown-menu-right">
              <div class="wish-header">
                <a href="#">View Cart</a>
                <a href="javascript:void(0)" class="float-end">Checkout</a>
              </div>
              <div class="wish-content">
                <ul>
                  <li>
                    <div class="media">
                      <div class="d-flex media-wide">
                        <div class="avatar">
                          <a href="course-details.html">
                            <img alt src="assets/img/course/course-04.jpg">
                          </a>
                        </div>
                        <div class="media-body">
                          <h6><a href="course-details.html">Learn Angular...</a></h6>
                          <p>By Dave Franco</p>
                          <h5>$200 <span>$99.00</span></h5>
                        </div>
                      </div>
                      <div class="remove-btn">
                        <a href="#" class="btn">Remove</a>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="media">
                      <div class="d-flex media-wide">
                        <div class="avatar">
                          <a href="course-details.html">
                            <img alt src="assets/img/course/course-14.jpg">
                          </a>
                        </div>
                        <div class="media-body">
                          <h6><a href="course-details.html">Build Responsive Real...</a></h6>
                          <p>Jenis R.</p>
                          <h5>$200 <span>$99.00</span></h5>
                        </div>
                      </div>
                      <div class="remove-btn">
                        <a href="#" class="btn">Remove</a>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="media">
                      <div class="d-flex media-wide">
                        <div class="avatar">
                          <a href="course-details.html">
                            <img alt src="assets/img/course/course-15.jpg">
                          </a>
                        </div>
                        <div class="media-body">
                          <h6><a href="course-details.html">C# Developers Double ...</a></h6>
                          <p>Jesse Stevens</p>
                          <h5>$200 <span>$99.00</span></h5>
                        </div>
                      </div>
                      <div class="remove-btn">
                        <a href="#" class="btn">Remove</a>
                      </div>
                    </div>
                  </li>
                </ul>
                <div class="total-item">
                  <h6>Subtotal : $ 600</h6>
                  <h5>Total : $ 600</h5>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item wish-nav">
            <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">
              <img src="assets/img/icon/wish.svg" alt="img">
            </a>
            <div class="wishes-list dropdown-menu dropdown-menu-right">
              <div class="wish-content">
                <ul>
                  <li>
                    <div class="media">
                      <div class="d-flex media-wide">
                        <div class="avatar">
                          <a href="course-details.html">
                            <img alt src="assets/img/course/course-04.jpg">
                          </a>
                        </div>
                        <div class="media-body">
                          <h6><a href="course-details.html">Learn Angular...</a></h6>
                          <p>By Dave Franco</p>
                          <h5>$200 <span>$99.00</span></h5>
                          <div class="remove-btn">
                            <a href="#" class="btn">Add to cart</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="media">
                      <div class="d-flex media-wide">
                        <div class="avatar">
                          <a href="course-details.html">
                            <img alt src="assets/img/course/course-14.jpg">
                          </a>
                        </div>
                        <div class="media-body">
                          <h6><a href="course-details.html">Build Responsive Real...</a></h6>
                          <p>Jenis R.</p>
                          <h5>$200 <span>$99.00</span></h5>
                          <div class="remove-btn">
                            <a href="#" class="btn">Add to cart</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="media">
                      <div class="d-flex media-wide">
                        <div class="avatar">
                          <a href="course-details.html">
                            <img alt src="assets/img/course/course-15.jpg">
                          </a>
                        </div>
                        <div class="media-body">
                          <h6><a href="course-details.html">C# Developers Double ...</a></h6>
                          <p>Jesse Stevens</p>
                          <h5>$200 <span>$99.00</span></h5>
                          <div class="remove-btn">
                            <a href="#" class="btn">Remove</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="nav-item user-nav">
            <span class="logout-btn" (click)="logout($event)">
              <i class="fas fa-sign-out-alt"></i>
            </span>
            <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">
              <span class="user-img">
                <img src="assets/img/user/user11.jpg" alt="Profile">
                <span class="status online"></span>
              </span>
            </a>
            <div class="users dropdown-menu dropdown-menu-right" data-popper-placement="bottom-end">
              <div class="user-header">
                <div class="avatar avatar-sm">
                  <img src="assets/img/user/user11.jpg" alt="User Image" class="avatar-img rounded-circle">
                </div>
                <div class="user-text">
                  <p class="text-muted mb-0">Student</p>
                </div>
              </div>
              <a class="dropdown-item" href="setting-edit-profile.html"><i class="feather-user me-1"></i> Profile</a>
              <a class="dropdown-item" href="setting-student-subscription.html"><i class="feather-star me-1"></i> Subscription</a>
              <div class="dropdown-item night-mode">
                <span><i class="feather-moon me-1"></i> Night Mode </span>
                <div class="form-check form-switch check-on m-0">
                  <input class="form-check-input" type="checkbox" id="night-mode">
                </div>
              </div>
              <a class="dropdown-item" (click)="logout($event)"><i class="feather-log-out me-1"></i> Logout</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>