<div class="class-container">
  <header>
    <h1>Ajouter Matière</h1>
    <nav>
      <a href="#">Accueil</a> / <a href="#">Matières</a>
    </nav>
  </header>
  
  <div class="container">
    <button [routerLink]="['/acceuil/listematieres']" class="btn-see-list">      <span class="icon-list">≡</span> Voir liste des matières
    </button>
  </div>

  <div class="contact-page-container">
    <div class="contact-form">
      <form [formGroup]="matiereForm" (ngSubmit)="onSubmit()">
        <!-- Success message -->
        <div class="alert alert-primary" role="alert" *ngIf="message">
          {{ message }}
        </div>

        <!-- Error message -->
        <div class="alert alert-danger" role="alert" *ngIf="error">
          {{ error }}
        </div>

        <!-- Matière Name -->
        <div>
          <mat-form-field class="custom-input-width">
            <mat-label>Nom de la matière</mat-label>
            <input matInput formControlName="name" placeholder="Entrer le nom de la matière">
            <mat-error *ngIf="matiereForm.get('name')?.errors?.['required']">Le nom est requis</mat-error>
          </mat-form-field>
        </div>

        <!-- Nombre d'heures -->
        <div>
          <mat-form-field class="custom-input-width">
            <mat-label>Nombre d'heures</mat-label>
            <input matInput formControlName="nombreHeures" placeholder="Entrer le nombre d'heures">
            <mat-error *ngIf="matiereForm.get('nombreHeures')?.errors?.['required']">Le nombre d'heures est requis</mat-error>
          </mat-form-field>
        </div>

        <!-- Type -->
        <div>
          <mat-form-field class="custom-input-width">
            <mat-label>Type</mat-label>
            <mat-select formControlName="type">
              <mat-option value="Obligatoire">Obligatoire</mat-option>
              <mat-option value="Optionnel">Optionnel</mat-option>
            </mat-select>
            <mat-error *ngIf="matiereForm.get('type')?.hasError('required')">Le type est requis</mat-error>
          </mat-form-field>
        </div>

        <!-- Classes associées -->
        <div>
          <mat-form-field class="custom-input-width">
            <mat-label>Classes concernées</mat-label>
            <mat-select formControlName="selectedClasses" multiple>
              <mat-option *ngFor="let class of classes" [value]="class.id">{{ class.level }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- Submit Button -->
        <button type="submit" class="btn-submit" [disabled]="!matiereForm.valid">
          <i class="pi pi-user-plus"></i> Ajouter la matière
        </button>
      </form>
    </div>
  </div>
</div>