<header>
    <h1>Ajouter Matière</h1>
    <nav>
      <a href="#">Accueil</a> / <a href="#">Matières</a>
    </nav>
    <br>
  </header>
  <br>
  <button [routerLink]="['/acceuil/listematieres']" class="btn-see-list">Voir liste Matières</button>

  <div class="contact-page-container">
    <div class="contact-form">
      <form [formGroup]="matiereForm" (ngSubmit)="onSubmit()">
        <!-- Success message -->
        <div class="alert alert-primary" role="alert" *ngIf="message">
          <div class="success-message">{{ message }}</div>
        </div>
  
        <!-- Error message -->
        <div class="alert alert-danger" role="alert" *ngIf="error">
          <div class="error-message">{{ error }}</div>
        </div>
  
        <!-- matiere Name -->
        <div>
          <mat-form-field class="custom-input-width">
            <mat-label>Nom de la matière</mat-label>
            <input matInput formControlName="name" placeholder="Entrer le nom de la matière">
            <mat-error *ngIf="matiereForm.get('name')?.errors?.['required']">Le nom est requis</mat-error>
          </mat-form-field>
        </div>
  
        <!-- Class Level -->
        <div>
            <mat-form-field class="custom-input-width">
              <mat-label>Type</mat-label>
              <mat-select formControlName="type" placeholder="Sélectionnez le type" required>
                <mat-option value="Obligatoire">Obligatoire</mat-option>
                <mat-option value="Optionnel">Optionnel</mat-option>
              </mat-select>
              <mat-error *ngIf="matiereForm.get('type')?.hasError('required')">Le type est requis</mat-error>
            </mat-form-field>
          </div>
          
  
        <!-- User Selection -->
        <div>
          <mat-form-field class="custom-input-width">
            <mat-label>Choisir les classes</mat-label>
            <mat-select formControlName="selectedClasses" (selectionChange)="onClassSelection($event)" multiple>
              <mat-option *ngFor="let class of classes" [value]="class.id">{{ class.name }}</mat-option>
            </mat-select>
            <mat-error *ngIf="matiereForm.get('selectedUsers')?.errors?.['required']">Au moins une classe est requis</mat-error>
          </mat-form-field>
        </div>
  
  
        <!-- Submit Button -->
        <button type="submit" pButton label="Ajouter" [disabled]="!matiereForm.valid">Ajouter</button>
      </form>
    </div>
  </div>
  