.classes-container {
  padding: 20px;
  text-align: center;
}

h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.no-classes-message p {
  color: #777;
  font-size: 18px;
}
.container {
  display: flex;
  justify-content: center;
}

/* Style pour le bouton "Voir liste des classes" */
.btn-see-list {
  background-color: #392c7c; /* Couleur de fond (vert) */
  color: white;
  padding: 12px 20px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  text-align: center;
  display: inline-block;
}
.classes-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.class-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 300px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.class-card:hover {
  transform: translateY(-10px);
}

.class-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.class-card-header h3 {
  font-size: 20px;
  color: #392c7c;
}

.class-level {
  background-color: #392c7c;
  color: #fff;
  padding: 5px 15px;
  border-radius: 25px;
}

.class-card-body {
  margin-bottom: 15px;
}

.class-card-footer {
  display: flex;
  justify-content: space-between;
}

.details-button,
.delete-button {
  background-color: #392c7c;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.details-button:hover,
.delete-button:hover {
  background-color: #2c1a6c;
}

.delete-button {
  background-color: #e74c3c;
}

.delete-button:hover {
  background-color: #c0392b;
}
header {
  min-width: 100%;
  text-align: center;
  padding: 20px;
  background-color: #d00707;
  color: white;
  max-height: 120px;

}

header nav {
  margin-top: 10px;

}

header nav a {
  color: white;
  text-decoration: none;
  margin: 0 5px;
}
header  h1{
  color: white;

}
button {
  background-color: #392c7c;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}
