<div class="login-container">
    <div class="security-animation"></div>
    
    <div class="login-card">
      <div class="card-header">
        <h2>ADMIN </h2>
        <p>Authentification requise</p>
      </div>
      
      <form class="login-form">
        <div class="form-group">
          <label for="email">IDENTIFIANT ADMIN</label>
          <input 
            type="email" 
            id="email" 
            class="form-control" 
            [(ngModel)]="email" 
            name="email"
            placeholder="admin@domain.com"
            required
          >
        </div>
        
        <div class="form-group">
          <label for="password">MOT DE PASSE</label>
          <input 
            type="password" 
            id="password" 
            class="form-control" 
            [(ngModel)]="password" 
            name="password"
            placeholder="••••••••"
            required
          >
        </div>
        
        <button type="button" class="login-btn" (click)="login()">
          Se Connecter
        </button>
      </form>
    </div>
  </div>