* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #007bff;
}

.contact-page-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  margin: 0 auto;
  max-width: 1000px;
  background-image: url(/assets/img/error-bg1.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: left;
  background-color: #f8f9fa;
  border-radius: 8px;
}

.contact-form {
  flex: 1 1 100%;
  background: white;
  padding: 20px;
  margin: 10px 0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-info {
  flex: 1 1 30%;
  padding: 20px;
  margin: 10px 0;
}

.contact-info h2 {
  margin-bottom: 10px;
  color: #c91515;
}

.contact-info p {
  margin-top: 40px;
  font-size: 14px;
}

.info-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.info-item i {
  color: #fa4668;
  font-size: 1.5em;
}

.p-error {
  color: #f44336;
  font-size: 0.875em;
}

.image-preview {
  margin-top: 10px;
  max-width: 30%;
  max-height: 200px;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .contact-info, .contact-form {
    flex: 1 1 100%;
  }
}

header {
  min-width: 100%;
  text-align: center;
  padding: 20px;
  background-color: #d00707;
  color: white;
  max-height: 120px;
}

header nav {
  margin-top: 10px;
}

header nav a {
  color: white;
  text-decoration: none;
  margin: 0 5px;
}

header h1 {
  color: white;
}

:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.custom-input-width {
  width: 100%;
}

.row {
  display: flex;
  gap: 16px;
}

.col {
  flex: 1;
}

.custom-input-width {
  width: 100%;
}

.mat-elevation-z8 {
  width: 60%;
  max-width: 800px;
  margin: 20px auto 0;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

table {
  width: 100%;
}

/* Centrer le filtre et aligner le bouton "Ajouter" à droite */
.filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  margin-bottom: 20px;
}

/* Style du champ de filtrage */
.filter-input {
  flex: 0 1 300px; /* Taille fixe pour le champ */
  margin-right: 300px; /* Ajout d'un espace de 20px entre le filtre et le bouton */

}

/* Bouton "Ajouter" positionné à droite du filtrage */
button[routerLink] {
  background-color: #392c7c;
  color: white;
  padding: 12px 24px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[routerLink]:hover {
  background-color: #2c1a6c;
}
