<div class="matierelist-container"> 
<header>
  <h1>Liste des Matières</h1>
  <nav>
    <a href="#">Accueil</a> / <a href="#">Liste des matières</a>
  </nav>
  <br>
</header>
<br>
<div class="container">
  <button [routerLink]="['/acceuil/matieres']">
    <i class="fas fa-plus-circle"></i> Ajouter une matière
  </button>
</div>
<div class="matieres-container">
  <!-- No matieres available -->
  <div *ngIf="matieres.length === 0" class="no-matieres-message">
    <p>Aucune matière trouvée.</p>
  </div>


  <!-- List of matieres -->
  <div *ngIf="matieres.length > 0" class="matieres-list">
    <div *ngFor="let matiere of matieres" class="matiere-card">
      <div class="matiere-card-header">
        <h3>{{ matiere.name }}</h3>
        <span class="nombre-heures">{{ matiere.nombreHeures }}</span>

      </div>
     

      <div class="matiere-card-body">
        <p><strong>Niveau:</strong> {{ matiere.level }}</p>
        <p><strong>Type:</strong> {{ matiere.type }}</p> <!-- Affichage du type de matière -->

      </div>

      <div class="matiere-card-footer">
        <!-- <button (click)="onViewDetails(matiere.id)" class="details-button">Détails</button> -->
        <button (click)="onDelete(matiere.id)" class="delete-button">Supprimer</button>
      </div>
     </div>
   </div>
 </div>
</div>

